{% from "macros/classHelpers.njk" import applyClass %}
<section class="{{ applyClass("hero", module.data) }} has-image">
  <div class="hero-body">
    <div class="container">
      <h1 class="{{ applyClass("title", module.data) }}">{{ module.data.title }}</h1>
      {% if module.data.subtitle %}
        <h2 class="{{ applyClass("subtitle", module.data) }}">{{ module.data.subtitle }}</h2>
      {% endif %}
      {{ module.templateContent | safe }}
    </div>
  </div>
</section>
