{% extends "partials/base.njk" %}
{% block content %}
  {% set replacePattern = "[^\/]*$" %}
  {% set pagePath %}{{ page.inputPath | replaceregex(replacePattern, "") }}{% endset %}
  {% for module in collections.modules %}
    {% if group and module.data.group == group %}
      {% set moduleTemplate %}modules/{{ module.data.modular }}.njk{% endset %}
      {% include moduleTemplate %}
    {% endif %}
  {% endfor %}
{% endblock %}
