{% extends "partials/base.njk" %}
{% block content %}
  {% set replacePattern = "[^\/]*$" %}
  {% set pagePath %}{{ page.inputPath | replaceregex(replacePattern, "") }}{% endset %}
  {% for module in collections.modules %}
    {% set modulePath %}{{ module.inputPath | replaceregex(replacePattern, "") }}{% endset %}
    {% set isCurrentPageModule = page.url in module.template.dataCache.page.filePathStem %}
    {% if pagePath == modulePath %}
      {% set moduleTemplate %}modules/{{ module.data.modular }}.njk{% endset %}
      {% include moduleTemplate %}
    {% endif %}
  {% endfor %}

{% endblock %}
