{% from "macros/styling.njk" import cls %}
{% set classes = component.data.classes | defaultsDeep(defaults.components.hero.classes) %}
<section {{ cls("hero", classes) }}>
  <div class="hero-body">
    <div class="container">
      <h1 {{ cls("title", classes) }}>{{ component.data.title }}</h1>
      {% if component.data.subtitle %}
        <h2 {{ cls("subtitle", classes) }}>{{ component.data.subtitle }}</h2>
      {% endif %}
      {{ component.templateContent | safe }}
    </div>
  </div>
</section>
