{% from "macros/styling.njk" import cls %}
{% set classes = component.data.classes | defaultsDeep(defaults.components.features.classes) %}

<div {{ cls("hero", classes) }}>
  <div class="hero-body">
    <div class="container">
      <header class="has-text-centered">
        <h1 {{ cls("title", classes) }}>{{ component.data.title }}</h1>
        {% if component.data.subtitle -%}
          <h2 {{ cls("subtitle", classes) }}>{{ component.data.subtitle }}</h2>
        {%- endif %}
      </header>

      <div class="columns is-multiline features">
        {% for feature in component.data.features -%}
          <div {{ cls("column", classes) }}>
            <div {{ cls("card", classes) }}>
              {% if feature.icon %}
                <div {{ cls("card-image", classes) }}>
                  <i class="fa fa-fw fa-{{ feature.icon }}"></i>
                </div>
              {% endif %}
              <div class="card-content">
                <h1 class="title is-4">{{ feature.title }}</h1>
                {% if feature.content -%}
                  {{ feature.content | markdown | safe }}
                {%- endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
