{% from "macros/classHelpers.njk" import applyClass %}
<section class="{{ applyClass("hero", component.data) }}">
  <div class="hero-body">
    <div class="container">
      <h1 class="{{ applyClass("title", component.data) }}">{{ component.data.title }}</h1>
      {% if component.data.subtitle %}
        <h2 class="{{ applyClass("subtitle", component.data) }}">{{ component.data.subtitle }}</h2>
      {% endif %}
      {{ component.templateContent | safe }}
    </div>
  </div>
</section>
