{% extends "partials/base.njk" %}

{% block content %}
  <div class="section">
    <div class="container">
      <div class="content">
        {{ content | safe }}
      </div>
    </div>
  </div>
{% endblock %}
