{% extends "partials/base.njk" %}
{% block content %}
  {% if (content | length) > 0 %}
    <div class="section">
      <div class="container">
        <div class="content">
          {{ content | safe }}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
