{% from "macros/styling.njk" import cls %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <title>
        {% if title %}{{ title }} - {% endif %}{{ site.title }}</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="{{ "css/main.css" | themeurl }}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock head %}
  </head>
  <body>
    {% block header %}
      <header>
        {% block header_nav %}
          {% if hero %}
            <section {{ cls("hero", classes) }}>
              <div class="hero-head">
                {% include "partials/navigation.njk" %}
              </div>
              <div class="hero-body">
                <div class="container has-text-centered">
                  <div class="column is-6 is-offset-3">
                    <h1 class="title">{{ hero.title }}</h1>
                    <h2 class="subtitle">{{ hero.subtitle }}</h2>
                  </div>
                </div>
              </div>
            </section>
          {% else %}
            {% include "partials/navigation.njk" %}
          {% endif %}
        {% endblock header_nav %}
      </header>
    {% endblock header %}

    {% block content %}{% endblock %}

    {% set jsmain %}
    {% include "js/main.min.js" %}
    {% endset %}
    <script>
      {{ jsmain | safe }}
    </script>

  </body>
</html>
