<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ "/" | url }}">
        <img src="/images/{{ site.logo }}" height="28">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="headerNavbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="headerNavbar" class="navbar-menu">
      <div class="navbar-end">
        {% for nav in collections.nav %}
          <div class="navbar-item">
            <a class="navbar-item" href="{{ nav.url | url }}">{{ nav.data.title }}</a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</nav>
